/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #0039a6;
    font-size: .80em;
    font-family:Calibri;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.ModalWindow
{
  border: solid 1px #c0c0c0;
  background:#f0f0f0;
  padding: 10px 10px 10px 10px;
  color:Black;  
}

.ModalWindowTable
{
	border-width: 1px;	
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	padding: 2px;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color:White;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

div.datarow
{
    clear: none;   
    float: left;
}

div.extdatarow
{
    height:80px; 
    padding:0 0 0 10px; 
    vertical-align:text-top;  
}

input.datafield
{
    float:right;
    width: 100px;       
    margin-right:5px;
}

input.datafield-ext
{
    float:right;
    margin-right:5px;
    margin-left: 2px;
}

input.multiline
{
    float:right;
    width: 99%;
    height:62px;   
    margin-right:5px;
}

select.datafield
{
    float:right;
    margin-right:5px;
    margin-bottom:2px;    
}
    

div.heading
{ 
    padding:5px 0 5px 3px;
    background-color:Gray;
    font-family: Calibri;
    font-weight:bold;
    color: #FFFFFF;
    font-size:14px;
    clear:both; 
    margin-bottom:5px;
    
}

div.heading-popup
{ 
    padding:5px 0 5px 5px;
    background-color:Gray;
    font-family: Calibri;
    font-weight:bold;
    color: #FFFFFF;
    font-size:14px;
    clear:both; 
    margin-bottom:5px; 
}

body.prettiedUp
{
    background-color:Silver;
    width:700px;
   
    border:1px solid;
    padding:5px;
}

div.boundary
{
    background-color: #CCCCCC;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    padding: 5px;
    margin-top: 10px;
}

input.blockTable
{
    width:50px;
    font-family: Calibri;    
    color: #FFFFFF;
    font-size:10px;
}

tr.heading
{
    background-color:#fba349; 
    color:Black;     
    text-align:center;
}

div.links
{
    border: 1px solid #000000;
    font-family: Calibri;
    background-color: #808080;
    font-size: 14px;
    float: right;
    width: 200px;
    margin-right: 5px;
    padding:10px 10px 10px 10px;
    clear: left;   
}

div.test
{
    float:left;
}

div.links a
{
    color: #0039A6;
    font-family: calibri;
    font-size: 14px;
    text-indent: 5px;
    padding-left: 10px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

div.links a:hover
{
    color: #ffffff;
    font-family: calibri;
    font-size: 14px;
    font-weight:bold;
}

div.linkhead
{
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 5px;    
}

div.pageContent
{
    background-color: Silver; 
    margin-left: auto; 
    margin-right: auto; 
    width: 1200px;
}

 /*Styles for fuzz overlay & message box*/  
 #fuzz1{ position:absolute; top:0; left:0; width:100%; z-index:100; background: url('../images/dim.png'); display:none; text-align:left; }  
  
   /*New Room Entry Form, positioned in dead center of browser*/  
   .msgbox1{ position:absolute; width:300px; height:100px; z-index:200; border:1px solid #222; background: #FFF; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px; }  
      .msgbox1 img { border:none; margin-right:5px; }  
        
      /*The "X" in the upper right corner of msgbox*/  
      .close1{ float: right; height: 20px; width: 20px; vertical-align:middle; }  
   
   /*New Project form on Estimating Page*/
   .newLeadProj{ position:absolute; width:750px; height:200px; z-index:200; border:1px solid #222; background: #FFF; top: 50%; left: 50%; margin-top: -100px; margin-left: -375px; }  
      .newLeadProj img { border:none; margin-right:5px; }
         
   .newAddr{ position:absolute; width:300px; height:290px; z-index:200; border:1px solid #222; background: #FFF; top: 20%; left: 50%; margin-top: -100px; margin-left: -150px; }
        .newAddr img { border:none; margin-right:5px; }
    
    /*New Room Entry Form, positioned in dead center of browser*/  
   .newInventoryItem{ position:absolute; width:300px; height:100px; z-index:200; border:1px solid #222; background: #FFF; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px; }  
      .newInventoryItem img { border:none; margin-right:5px; }  
      
   .newRFI{ position:absolute; width:600px; height:500px; z-index:200; border:1px solid #222; background: #FFF; top: 50%; left: 50%; margin-top: -250px; margin-left: -300px; }  
      .newRFI img { border:none; margin-right:5px; }  
   
           
 /*Styles for fuzz overlay & message box*/  
 #fuzz2{ position:absolute; top:0; left:0; width:100%; z-index:100; background: url('../images/dim.png'); display:none; text-align:left; }  
  
   /*New SP Entry Form, positioned in dead center of browser*/  
   .msgbox2{ position:absolute; width:300px; height:125px; z-index:200; border:1px solid #222; background: #FFF; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px; }  
      .msgbox2 img {border:none; margin-right:5px;}  
  
      /*The "X" in the upper right corner of msgbox*/  
      .close2{ top:0px; float:right; }  
   
   .newCarrier{ position:absolute; width:300px; height:135px; z-index:200; border:1px solid #222; background: #FFF; top: 30%; left: 50%; margin-top: -100px; margin-left: -150px; }
        .newAddr img { border:none; margin-right:5px; }
      
 /*Styles for dimmed overlay & message box*/  
 #takeoff{ position:absolute; top:0; left:0; width:100%; z-index:100; background: url('../images/dim.png'); display:none; text-align:left; }  
  
   /*New Room Entry Form, positioned in dead center of browser*/  
   .msgbox{ position:absolute; width:375px; height:300px; z-index:200; border:1px solid #222; background: #FFF; top: 50%; left: 50%; margin-top: -100px; margin-left: -185px; }  
      .msgbox img {border:none; margin-right:5px;}  
  
      /*The "X" in the upper right corner of msgbox*/  
      .close{ float: right; height: 20px; width: 20px; vertical-align:middle; }  
 